<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-fixed-top navbar-custom navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a href="/"><img src="/images/logo2.png" title="logo"/></a>
            </div>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <div >
                    <li sec:authorize="isAnonymous()">
                        <a href="/login"><i class="fa fa-createdby"></i>Entrar</a>
                        <span>/</span>
                        <a href="/register">Registar</a>
                    </li>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span sec:authentication="name"></span> <i class="fa fa-createdby fa-lg"></i></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item"><a th:href="@{/ubs/history}">Histórico</a></li>
                            <li class="dropdown-item"><a th:href="@{/logout}">Sair</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>