<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-no-header}">
<head>

</head>

<th:block layout:fragment="content">

    <div class="container">

        <div class="row">

            <div class="col-md-2">
            <strong>
                <a href="javascript:history.go(-1)" class="btn btn-success"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Voltar</a></strong>
            </div>

            <!--Main content-->
            <div class="col-md-7" style="background-color: white; border: 1px solid #c2cbd4;">
                <!--Exames Details-->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="page-header">
                            <fieldset>
                                <legend>
                                    <h1 th:text="${exame.description}">  </h1>
                                    <small th:text="${university.shortname}+' ('+${exame.examYear}+')'">
                                    </small>
                                </legend>

                                <div>
                                    <img th:src="${'/'+category}" th:alt="${exame.category.name}" class="img-responsive">
                                </div>


                                <div>
                                    <h4>
                                        <p>
                                            <span class="glyphicon glyphicon-question-sign"></span>
                                            <span th:text="${nrQuestions}"></span>
                                            &nbsp;
                                            <span class="glyphicon glyphicon-time"></span>
                                            <span th:if="${exame.duration}<60" th:text="${exame.duration+' Segundos'}"></span>
                                            <span th:if="${exame.duration}>=60" th:text="${(exame.duration)/60+' Minutos'}"></span>
                                        </p>
                                    </h4>
                                </div>


                            </fieldset>
                        </div>

                        <div style="margin-left: 2%;">


                            <div class="details">
                                <legend>
                                    <h3>Teste Diagnóstico</h3>
                                </legend>

                                <p style="font-size: 14px;">
                                    Teste o seu domínio na resolução dos problemas colocados nos exames de admissão. Clique
                                    o butão abaixo para iniciar o teste diagnóstico.
                                </p>
                                <br/> <br/>

                                <div class="text-center">

                                    <div class="panel panel-default">

                                        <div class="container-share">

                                                <!--<a th:if="${exame.hassimulation and attemptAllowed}" th:href="@{/ubs/online-test(id = ${exame.id})}" class="btn btn-success" role="button" id="start-simulation">Iniciar Diagonostico </a>-->
                                                <!--<a th:if="not ${attemptAllowed}" th:href="@{/ubs/history}" class="btn btn-success" role="button">Monstrar Histórico de Exames feitos </a>-->

                                            <input type="hidden" id="exam_id" th:value="${exame.id}">
                                            <input type="hidden" id="starttime" th:value="${starttime}">

                                            <div id="demo"></div>
                                            <script>
                                                // Set the date we're counting down to
                                                var starttime = $('#starttime').val();
                                                var countDownDate = new Date(starttime).getTime();

                                                // Update the count down every 1 second
                                                var x = setInterval(function() {

                                                    // Get today's date and time
                                                    var now = new Date().getTime();

                                                    // Find the distance between now and the count down date
                                                    var distance = countDownDate - now;

                                                    // Time calculations for days, hours, minutes and seconds
                                                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                                    // Output the result in an element with id="demo"
                                                    document.getElementById("demo").innerHTML = "<p>O teste começa em: </p><h3>"+days + " Dias " + hours + " Horas "
                                                        + minutes + " Minutos " + seconds + " Segundos "+"</h3>";

                                                    // If the count down is over, write some text
                                                    if (distance < 0) {
                                                        clearInterval(x);
                                                        var exam_id = $('#exam_id').val();
                                                        document.getElementById("demo").innerHTML = ' <a href="/ubs/online-test?id='+exam_id+'" class="btn btn-success" role="button" id="start-simulation">Iniciar Diagonostico </a>';
                                                    }
                                                }, 1000);
                                            </script>
                                        </div>
                                    </div>

                                </div>


                                <div id="fb-root"></div>


                            </div>
                        </div>
                    </div>
                </div>

                <br/>
                <br/>

            </div>
        </div>
    </div>

    <br/>
</th:block>