<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-no-header}">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>


<body>
<th:block layout:fragment="content">

    <div class="container">

        <div class="row">

            <strong>
                <a href="/" class="btn btn-success"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    Voltar</a>
            </strong>

            <div class="details">
                <legend>
                    <h3>Histórico de Exames Feitos</h3>
                </legend>


                <div th:switch="${examAttempts}">
                    <h2 th:case="null"><p th:text="Nao há registo de nenhum exame feito Exames"></p></h2>
                    <br/>
                    <div th:case="*">
                        <div class="table-responsive">
                            <table id="tblhistory" class="table table-bordered table-striped" width="100%">
                                <thead>
                                <tr>
                                    <th>Data e Hora de Início</th>
                                    <th>Exame</th>
                                    <th>Duração</th>
                                    <th>Resultado</th>
                                    <th>Classificação</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="attemps: ${examAttempts}">
                                    <td th:text="${attemps.start}"></td>
                                    <td><a th:href="@{/ubs/result(exam = ${attemps.exam.id}, timestamp = ${#dates.formatISO(attemps.examAttemptsPK.timestamp)})}" th:text="${attemps.exam.description}"></a></td>
                                    <td th:text="${T(mz.co.osoma.service.Helper).timeDifferenceInSeconds(attemps.start,attemps.ExamAttemptsPK.timestamp)}"></td>

                                    <td th:text="${attemps.score}"></td>
                                    <td th:if="${attemps.score>=50}" th:text="Aprovado" style="color: green;"></td>
                                    <td th:if="${attemps.score<50}" th:text="Reprovado" style="color: red;"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>


    <script type="text/javascript">

        //test();

        $(document).ready(function () {
            $('#tblhistory').DataTable({
                "scrollY": "50vh",
                "scrollCollapse": true,
                "searching": false,
                "language": {
                    "lengthMenu": "Mostrar _MENU_ itens por página",
                    "zeroRecords": "Não foi encontrado nenhum registo",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registo encontrado",
                    "infoFiltered": "(fitrados apartir _MAX_ dos registos)",
                    "paginate": {
                        "first":      "Primeiro",
                        "last":       "Último",
                        "next":       "Proximo",
                        "previous":   "Anterior"
                    },
                    "search":         "Pesquisar:"
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });


    </script>


</th:block>

</body>
</html>