
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutLogin}">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Custom Theme files -->

</head>
<body>

<th:block layout:fragment="contentLogin">


    <br/>
    <br/>
    <br/>
    <div class="container">

        <!--<div>-->
            <!--<strong>-->
                <!--<a href="javascript:history.go(-1)" class="btn btn-success"><i class="fa fa-angle-double-left"-->
                                                                  <!--aria-hidden="true"></i> Cancelar </a>-->
            <!--</strong>-->
        <!--</div>-->

        <div id="login-overlay" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Auntenticação</h4>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Usuário ou Palavra-passe inválido.
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <div class="well">
                                <form id="loginForm"  action="/login" method="post">


                                    <div class="form-group">
                                        <label for="username"
                                               class="control-label">Email ou Contacto</label>
                                        <div>
                                            <input type="text" class="form-control" id="username" name="username" value="">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password"
                                               class="control-label">Palavra-passe</label>
                                        <input type="password" class="form-control" id="password"
                                               name="password" value=""
                                               required="" title="Please enter your password">
                                        <span class="help-block"></span>
                                    </div>
                                    <div class="form-group">
                                        <a href="#" style="font-size: small; text-align: right; text-decoration: none;">Esqueceu password?</a>
                                    </div>
                                    <!--<input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">-->
                                    <button type="submit"
                                            class="btn btn-success btn-block">Entrar</button>

                                </form>

                            </div>
                        </div>

                        <div class="hidden-xs hidden-sm">
                            <div class="col-md-6">
                                <p class="lead">Cadastro gratís</p>
                                <ul class="list-unstyled" style="line-height: 2">
                                    <li><span class="fa fa-check text-success"></span> Fácil</li>
                                    <li><span class="fa fa-check text-success"></span> Rápido</li>
                                    <li><span class="fa fa-check text-success"></span> E gratuito</li>
                                </ul>
                                <p><a href="register"
                                      class="btn btn-info btn-block">Cadastre-se já</a></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>