<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-dashboard}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="contentDash">
    <br/>
    <br/>
    <div class="container">

        <div class="row">

            <div class="col-md-2">
                <strong>
                    <a th:href="'/exams-admin/exam-details-admin/?examId='+${exam.id}" class="btn btn-success"><i class="fa fa-angle-double-left"
                                                                      aria-hidden="true"></i> Voltar </a>
                </strong>
            </div>

            <div class="col-md-8">

                <div id="login-overlay" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel" th:text="${question.question}"></h4>
                        </div>
                        <div class="modal-body">


                            <div class="row">

                                <div class="col-md-12">

                                    <form id="examRegister" action="/exams-admin/exam-add/exam-save" method="POST">

                                        <div th:switch="${question.choiceList}">
                                            <h2 th:case="null"><p th:text="#{Nao_Exames}"></p></h2>
                                            <br/>
                                            <div th:case="*">
                                                <div th:each="answers: ${question.choiceList}">
                                                    <div class="clear"></div>
                                                    <div class="ans_select">
                                                        <input type="radio" th:id="${'q_'+question.id+'_'+answers.id}" name="q_choice"  th:checked="${answers.id == sessionAnswer}">
                                                    </div>
                                                    <div class="ans_content editor">
                                                         <span th:if="${answers.fraction} == 1" style="color: green">
                                                        <label th:for="${'q_'+question.id+'_'+answers.id}">
                                                            <span th:text="${answers.answer}">.</span>
                                                        </label>
                                                         </span>
                                                        <span th:if="${answers.fraction} == 0">
                                                        <label th:for="${'q_'+question.id+'_'+answers.id}">
                                                            <span th:text="${answers.answer}">.</span>
                                                        </label>
                                                         </span>
                                                    </div>

                                                </div>

                                                <div class="clear"></div>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</th:block>

</body>
</html>