
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout-dashboard}">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>


<body>
<th:block layout:fragment="contentDash">


    <div id="London" class="tabcontent">

        <div class="details">
            <legend>
                <h3>
                    Users </h3>
            </legend>


            <div>
                <div class="hidden-xs hidden-sm" style="float:right">
                    <form class="navbar-form navbar-left" >
                        <div class="form-group">
                            <input type="text" name="search" class="form-control"
                                   placeholder="Search...">
                            <button type="submit" class="btn btn-default">
                                Search</button>
                        </div>
                    </form>
                </div>
                <a href="#" class="nav nav-item" >Adicionar</a>
                <div class="table-responsive">


                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Adress1</th>
                            <th>City</th>
                            <th>Email</th>
                            <th>Date</th>
                        </tr>
                        </thead>

                        <tbody>
                        <div th:switch="${users}">
                            <h2 th:case="null"><p th:text="#{no-createdby}"></p></h2>
                            <div th:case="*">
                                <div th:each="createdby: ${users}">
                                    <tr>
                                        <td th:text="${createdby.name}"></td>
                                        <td th:text="${createdby.lastName}"></td>
                                        <td th:text="${createdby.address1}"></td>
                                        <td th:text="${createdby.city}"></td>
                                        <td th:text="${createdby.email}"></td>
                                        <td th:text="${createdby.date}"></td>
                                        <td><a href="">edit</a></td>
                                        <td ><a th:href="@{/(userId=${createdby.id})}" >remove</a></td>
                                    </tr>
                                </div>
                            </div>
                        </div>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


</th:block>

</body>
</html>