<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutLogin}">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<th:block layout:fragment="contentLogin">
    <br/>
    <br/>
    <div class="container">

        <div class="row">

            <div class="col-md-2">
                <strong>
                    <a href="/" class="btn btn-success"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        Cancelar </a>
                </strong>
            </div>

            <div class="col-md-8">

                <div id="login-overlay" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Registrar</h4>
                        </div>
                        <div class="modal-body">


                            <div class="row">

                                <div class="col-md-12">

                                    <form id="registerForm" method="POST" class="registerForm" action="/register">

                                        <div class="form-group row">
                                            <label for="first_name"
                                                   class="col-xs-5 col-form-label">Nome: *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="first_name"
                                                       id="first_name"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="last_name"
                                                   class="col-xs-5 col-form-label">Apelido: *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="last_name" id="last_name"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="province" class="col-xs-5 col-form-label">Província: *</label>
                                            <div class="col-xs-7">

                                                <select name="province" id="province"
                                                        class="form-control province-selected">
                                                    <option th:each="p : ${provinceList}"
                                                            th:value="${p.id}"
                                                            th:text="${p.province}"/>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="distrito" class="col-xs-5 col-form-label">Distrito: *</label>
                                            <div class="col-xs-7">
                                                <select name="distrito" id="distrito" class="form-control"></select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="contact" class="col-xs-5 col-form-label">Contacto/WhatsApp:
                                                *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="contact" id="contact"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="escola"
                                                   class="col-xs-5 col-form-label">Escola que frequenta(ou): *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="escola" id="escola"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="university"
                                                   class="col-xs-5 col-form-label">Universidade que pretende ingressar:
                                                *</label>
                                            <div class="col-xs-7">
                                                <select name="university" id="university" class="form-control">
                                                    <option th:each="university: ${universities}"
                                                            th:value="${university.id}"
                                                            th:text="${university.name}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="email" class="col-xs-5 col-form-label">Email: </label>
                                            <div class="col-xs-7">
                                                <input type="email" class="form-control" name="email" id="email"
                                                       value=""/>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="password"
                                                   class="col-xs-5 col-form-label">Palavra-chave: *</label>
                                            <div class="col-xs-7">
                                                <input type="password" class="form-control" name="password"
                                                       id="password"
                                                       value="">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="confirm_password"
                                                   class="col-xs-5 col-form-label">Confirme palavra-chave: *</label>
                                            <div class="col-xs-7">
                                                <input type="password" class="form-control" name="confirm_password"
                                                       id="confirm_password" value="">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-xs-5 col-form-label"></label>
                                            <div class="col-xs-7">
                                                <div class="d-inline">
                                                    <input type="checkbox" name="agree" id="agree">
                                                    <label for="agree" class="custom-control-label" style="font-size: small;">Eu concordo com <a href="#">Os Termos e Condições</a></label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-xs-5 col-form-label"></label>
                                            <div class="col-xs-7">
                                                <button type="submit" class="btn btn-success" name="register"
                                                        value="register">Registrar
                                                </button>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <script type="text/javascript">


        if ($('.province-selected').length > 0) {

            selectDistrict();

            $('.province-selected').bind('change', function (e) {
                selectDistrict();
            });
        }

        function selectDistrict() {

            var id = $('.province-selected').val();
            var url = "/districts/" + id;

            $.ajax({
                url: url,
                method: "GET",
                data: {id: id},
                dataType: "json",
                success: function (data) {
                    $('#distrito').empty();
                    $.each(data, function (index, value) {
                        // APPEND OR INSERT DATA TO SELECT ELEMENT.
                        $('#distrito').append('<option value="' + value.id + '">' + value.district + '</option>');
                    });
                },
                error: function () {
                    alert('An error has occurred');
                }
            });
        }

        function find(type, value) {

            var url = '/users/' + type + "/" + value;
            var result = false;

            $.ajax({
                url: url,
                method: "GET",
                data: ({type: type, value: value}),
                async: false,
                dataType: "json",
                success: function (data) {
                    result = true;
                    if (Object.keys(data).length != 0) {
                        result = false;
                    }
                },
                error: function () {
                    alert('An error has occurred');
                }
            });
            return result;
        }

        $(document).ready(function () {
            $('.registerForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    first_name: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    last_name: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    province: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    distrito: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    contact: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                            callback: {
                                message: 'Este contacto já está registado no sistema',
                                callback: function (value, validator) {
                                    // var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                                    return find('contact',value);
                                }
                            }
                        }
                    },
                    escola: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    university: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    email: {
                        validators: {
                            emailAddress: {
                                message: 'Fornceu um email inválido'
                            },

                            callback: {
                                message: 'Este contacto já está registado no sistema',
                                callback: function (value, validator) {
                                    // var items = $('#captchaOperation').html().split(' '), sum = parseInt(items[0]) + parseInt(items[2]);
                                    return find('email',value);
                                }
                            }

                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                            identical: {
                                field: 'confirm_password',
                                message: 'A palavra-passe e a sua confirmação não devem ser semelhantes'
                            },
                            different: {
                                field: 'username',
                                message: 'A palavra-passe não deve ser similar ou usuário'
                            }
                        }
                    },
                    confirm_password: {
                        validators: {
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                            identical: {
                                field: 'password',
                                message: 'A palavra-passe e a sua confirmação não devem ser semelhantes'
                            },
                            different: {
                                field: 'username',
                                message: 'A palavra-passe não deve ser similar ou usuário'
                            }
                        }
                    },
                    agree: {
                        validators: {
                            notEmpty: {
                                message: 'Deve aceitar os Termos e Condições'
                            },
                        }
                    },
                }
            });
        });

    </script>
</th:block>
</body>