<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutLogin}">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<th:block layout:fragment="contentLogin">


    <br/>
    <br/>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>Sucesso no cadastro</h1>
                    <div>
                        <p th:text="${'Usuário '+user.email+' foi cadastrado com sucesso'}"></p>
                        <br/>
                        <p>Use o PIN enviado no seu email como chave de confirmação</p>
                        <!--<h1 th:text="${user.pin}"></h1>-->
                    </div>
                    <br/>
                    <div>
                        <a href="/login" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-log-in"></span> Faça o login no sistema </a>
                    </div>
                </div>
            </div>
        </div>
    </div>



</th:block>
</body>