<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutLogin}">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

<th:block layout:fragment="contentLogin">
    <br/>
    <br/>
    <div class="container">

        <div class="row">

            <div class="col-md-2">
                <strong>
                    <a href="/" class="btn btn-success"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Cancelar </a>
                </strong>
            </div>

            <div class="col-md-8">

                <div id="login-overlay" class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Registrar</h4>
                        </div>
                        <div class="modal-body">


                            <div class="row">

                                <div class="col-md-12">

                                    <form id="registerForm" method="POST" class="registerForm">

                                        <div class="form-group row">
                                            <label for="first_name"
                                                   class="col-xs-5 col-form-label">Nome: *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="first_name"
                                                       id="first_name"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="last_name"
                                                   class="col-xs-5 col-form-label">Apelido: *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="last_name" id="last_name"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="province" class="col-xs-5 col-form-label">Província: *</label>
                                            <div class="col-xs-7">

                                                <select name="province" id="province"
                                                        class="form-control province-selected">
                                                    <option th:each="p : ${provinceList}"
                                                            th:value="${p.id}"
                                                            th:text="${p.province}"/>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="distrito" class="col-xs-5 col-form-label">Distrito: *</label>
                                            <div class="col-xs-7">
                                                <select name="distrito" id="distrito" class="form-control"></select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="email" class="col-xs-5 col-form-label">Email: </label>
                                            <div class="col-xs-7">
                                                <input type="email" class="form-control" name="email" id="email" value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="contact" class="col-xs-5 col-form-label">Contacto/WhatsApp: *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="contact" id="contact" value=""/>
                                            </div>
                                        </div>




                                        <div class="form-group row">
                                            <label for="escola"
                                                   class="col-xs-5 col-form-label">Escola que frequenta(ou): *</label>
                                            <div class="col-xs-7">
                                                <input type="text" class="form-control" name="escola" id="escola"
                                                       value=""/>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="university"
                                                   class="col-xs-5 col-form-label">Universidade que pretende ingressar:
                                                *</label>
                                            <div class="col-xs-7">
                                                <select name="university" id="university" class="form-control">
                                                    <option th:each="university: ${universities}"
                                                            th:value="${university.id}"
                                                            th:text="${university.name}"></option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="password"
                                                   class="col-xs-5 col-form-label">Palavra-chave: *</label>
                                            <div class="col-xs-7">
                                                <input type="password" class="form-control" name="password"
                                                       id="password"
                                                       value="">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label for="confirm_password"
                                                   class="col-xs-5 col-form-label">Confirme palavra-chave: *</label>
                                            <div class="col-xs-7">
                                                <input type="password" class="form-control" name="confirm_password"
                                                       id="confirm_password" value="">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="submit" class="col-xs-5 col-form-label"></label>
                                            <div class="col-xs-7">
                                                <button type="submit" name="submit" id="submit"
                                                        class="btn btn-success btn-block">Registrar
                                                </button>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function() {
            $('.registerForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    first_name:{
                        validators:{
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    last_name:{
                        validators:{
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    province:{
                        validators:{
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    distrito:{
                        validators:{
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    contact:{
                        validators:{
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    escola:{
                        validators:{
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    university:{
                        validators:{
                            notEmpty: {
                                message: 'Este campo não deve estar vazio'
                            },
                        }
                    },
                    email: {
                        validators: {
                            emailAddress: {
                                message: 'The input is not a valid email address'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required and cannot be empty'
                            },
                            identical: {
                                field: 'confirm_password',
                                message: 'A palavra-passe e a sua confirmação não são semelhantes'
                            },
                            different: {
                                field: 'username',
                                message: 'The password cannot be the same as username'
                            }
                        }
                    },
                    confirm_password: {
                        validators: {
                            notEmpty: {
                                message: 'The confirm password is required and cannot be empty'
                            },
                            identical: {
                                field: 'password',
                                message: 'The password and its confirm are not the same'
                            },
                            different: {
                                field: 'username',
                                message: 'The password cannot be the same as username'
                            }
                        }
                    },
                }
            });
        });

    </script>
</th:block>
</body>